<!DOCTYPE html>
<html>
<head>
	<title>ChronosTable</title>
    <favicon></favicon>
	<meta charset="utf-8">
	{% load staticfiles %}
	<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
	<style type="text/css">
		.jumbotron {
		 	margin: 30px;
		}
	</style>
	<style>
body {
    background-color: white;
}

h3 {
    color: blue;
    text-align: center;
}
h1 {
    color: red;
    text-align: center;
}

p {
    font-family: verdana;
    font-size: 20px;
}
</style>
</head>
<body>
<div class="container-fluid">
    <nav class="navbar navbar-light navbar-expand-md">
        <a class="navbar-brand" href="#"><img src="static/Images/index.jpeg" height="90" width="100%"></a><input type="search" class="form-control-sm align-self-center ml-auto" placeholder="Search for Friends!" />
        <li class="dropdown align-self-center" style="font-size: 18px;color: rgba(33,37,41,0);"><a data-toggle="dropdown" aria-expanded="false" class="dropdown-toggle" href="#">Perfil </a>
            <div role="menu" class="dropdown-menu"><a role="presentation" class="dropdown-item" href="#">First Item</a><a role="presentation" class="dropdown-item" href="#">Second Item</a><a role="presentation" class="dropdown-item" href="#">Third Item</a></div>
        </li><button data-toggle="collapse" data-target="#navcol-1" class="navbar-toggler"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
    </nav>

{% block main %}
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
		    <form id="form_80462" class="appnitro"  method="post" action="">
                        <div class="form_description">
                <h2>Iniciar Actividad</h2>
                <p>Seleccione la actividad que desea iniciar</p>
            </div>
                <ul >

                        <li id="li_2" >
            <label class="description" for="element_2">Actividad a iniciar </label>
            <div class="col-md-12">
            <select class="element select large" id="element_2" name="element_2">
                <option value="" selected="selected"></option>
                <option value="1" >Estudiar</option>
                <option value="2" >Descansar</option>
                <option value="3" >Hacer deporte</option>
                <option value="4" >Sociabilizar</option>
                <option value="5" >40 horas de trabajo</option>
                <option value="6" >Ver monitos chinos</option>
                <option value="7" >Recostarse, mirar el techo y sumergirse hacia la locura</option>

            </select>
            </div>
            </li>		<li id="li_1" >
            <label class="description" for="element_1">Tiempo estimado </label>
            <span>
                <input id="element_1_1" name="element_1_1" class="element text " size="2" type="text" maxlength="2" value=""/> :
                <label>HH</label>
            </span>
            <span>
                <input id="element_1_2" name="element_1_2" class="element text " size="2" type="text" maxlength="2" value=""/> :
                <label>MM</label>
            </span>
            <span>
                <input id="element_1_3" name="element_1_3" class="element text " size="2" type="text" maxlength="2" value=""/>
                <label>SS</label>
            </span>
            </li>
                <center>
                    <a href="{% url "chrono" %}"  role="button" class="btn btn-primary">Submit</a>
                </center>
            </ul>
            </form>
        </div>
    </div>
{% endblock %}
</div>
</body>
</html>






